@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-primary: #007acc;
  --color-secondary: #f4f4f4;
  --color-accent: #00509e;
}

@layer base {
  body {
    @apply min-h-screen font-poppins;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-bold;
  }

  form {
    @apply max-w-xl flex flex-col items-center gap-5 w-full;
  }

  fieldset {
    @apply flex flex-col gap-1 w-full;
  }

  input,
  textarea {
    @apply border rounded-lg p-2 w-full h-full disabled:opacity-50 disabled:cursor-not-allowed;
  }

  button {
    @apply flex items-center justify-center bg-secondary rounded-md font-medium cursor-pointer hover:opacity-70 transition duration-100 ease-in disabled:opacity-50 disabled:cursor-not-allowed;
  }

  p a {
    @apply text-primary hover:opacity-80 hover:underline;
  }
}

@layer utility {
  /* Webkit (Chrome, Safari Edge) */
  .scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-300 rounded-full;
  }
}

@layer components {
  .button-primary {
    @apply bg-primary text-secondary;
  }

  .form-icon {
    @apply absolute top-1/2 -translate-y-1/2 left-2 size-5;
  }

  .form-input {
    @apply px-10;
  }

  .input-error {
    @apply text-red-500 text-sm mt-1;
  }

  .link-blue {
    @apply text-primary hover:opacity-80 underline;
  }

  .button-icon-text {
    @apply inline-flex gap-2;
  }

  .skeleton {
    @apply animate-pulse bg-neutral-200 rounded-lg;
  }

  .button-padding {
    @apply px-5 py-2;
  }

  .landing-card {
    @apply bg-secondary p-5 rounded-lg flex-1 space-y-3 shadow-lg flex items-center justify-center flex-col;
  }

  .landing-card span {
    @apply text-5xl;
  }

  .landing-card h3 {
    @apply text-3xl font-semibold;
  }

  .x-padding {
    @apply px-10 2xl:px-0;
  }

  .sidebar-chat-btn {
    @apply bg-transparent hover:bg-secondary p-1 w-full justify-between space-x-2;
  }

  .sidebar-main {
    @apply flex gap-2 items-center justify-center;
  }

  .sidebar-chat-info {
    @apply flex flex-col gap-1 text-left overflow-hidden max-w-40;
  }

  .sidebar-chat-name {
    @apply font-semibold truncate;
  }

  .sidebar-chat-latest-msg {
    @apply text-xs italic truncate;
  }
}
